/* If you want to use CDN fonts (easier option) */
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

@import "tailwindcss";

/* Font face declarations */

body {
  font-family: PP Neue Montreal, sans-serif;
}
@font-face {
  font-family: 'PP Mori';
  src: url("/fonts/pp_mori.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matrice';
  src: url("/fonts/matrice-semibold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  --background: #F9F9F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-pp-mori: 'PP Mori', sans-serif;
  --font-family-matrice: 'Matrice';
  --font-family-chronosfer: 'Chronosfer Expanded';
}

/* Custom font utilities for Tailwind v4 */
@layer utilities {
  .font-pp-mori {
    font-family: var(--font-family-pp-mori);
  }
  
  .font-matrice {
    font-family: var(--font-family-matrice);
  }

  .font-chronosfer {
    font-family: var(--font-family-chronosfer);
  }
}

::selection {
  background-color: black;
  color: white;
}

html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important; 
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.split-line {
  display: block !important;
  line-height: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}
